@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

nav {
    font: 2.5vw 'Source Code Pro', monospace;
    padding: 10px;
    margin: 5px;

    display: flex;
    justify-content: space-around;

    background-color: #202020;
    border-radius: 20px;
}

nav a{
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #DDD;
}

nav a:hover{
    background-color: #303030;
}

